.allEvents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

.allEVentsInfo {
    width: 500px;
    background-color: rgb(223, 227, 227);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
    height: 650px;
}

.imageStyle {
    width: 100%;
    height: 50%;
}

.eventContent {
    padding: 5px;
    margin: 30px;
}

.eventItemHeadingOne {
    font-size: 35px;
    margin-bottom: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: rgb(82, 50, 9);
}


.eventItemHeadingTwo {
    font-size: 28px;
    color: black;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


.eventItemA{
    width: 40%;
    padding: 8px 16px;
    background-color: rgb(52, 46, 15);
    text-decoration: none;
    border-radius: 8px;
    color: antiquewhite;
    text-align: center;
    margin: 20px auto;
    display: block;
    font-size: 25px;
}

.eventItemA:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}