.allEvents {
    width: 100%; 
}

.allEVentsInfo {
    width: 500px; 
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 650px;
    transition: all 0.3s ease-in-out;
}

.allEVentsInfo:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    background-color: rgb(210, 215, 215); 
}

.imageStyle {
    width: 100%;
    height: 50%;
    object-fit: cover; 
}

.eventContent {
    padding: 5px;
    margin: 30px;
}

.eventItemHeadingOne {
    font-size: 35px;
    margin-bottom: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #4A3F33;
    font-family: 'Playfair Display', serif;
}


.eventItemHeadingTwo {
    font-size: 28px;
    color: #7B7B7B;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.eventItemA{
    width: 40%;
    padding: 8px 16px;
    background-color: #4A3F33;
    text-decoration: none;
    border-radius: 8px;
    color: #FFFAF0;
    text-align: center;
    margin: 20px auto; 
    display: block; 
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    font-family: 'Lato', sans-serif;
}

.eventItemA:hover {
    background-color: #6C5749;
    transform: translateY(-2px);   
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}