.eventDetails {
    display: flex;
    width: 70%;
    margin: 100px;
    /* overflow: hidden; */
    border-radius: 10px;
    transition: all 0.4s;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.infoSection {
    position:relative;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(234, 231, 217);
}

.eventHeader {
    position: relative;
    padding: 25px;
    height: 40%;
    text-align: center;
    margin: 50px;
}

.eventHeader>h1 {
    text-align: center;
    color: black;
    margin-top: 5px;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 50px;
    
}

.eventHeader>h4 {
    color: #555;
    font-size: 23px;
    font-weight: 400;
}

.location {
    display: inline-block;
    margin-top: 25px;
    color: #555;
    font-size: 35px;
    text-align: center;
}

.type {
    display: inline-block;
    color: #959595;
    margin-top: 25px;
    font-size: 35px;
    text-align: center;

}

.eventImg {
    position: relative;
    float: right;
    margin-left: 22px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 350px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.infoSection>.text {
    margin-top: 100px;
    padding: 60px;
    height: 50%;
}

.eventSummary {
    margin-top: 15px;
    padding: 60px;
    height: 50%;
}

.text {
    font-size: 35px;
    color: #545454;
}

.buttonStyle {
    padding: 12px 24px;
    font-size: 30px;
    font-weight: 'bold';
    border-radius: 8px;
    cursor: 'pointer';
    transition: 'background-color 0.3s ease, transform 0.1s ease';
    /* // Change color based on status: Green for RSVP, Red for Unsubscribe */
    /* background-color: isAttending ? '#dc3545' : '#28a745'; */
    color: 'white';
    margin: 10px;
    box-shadow: '0 2px 4px rgba(0, 0, 0, 0.2)';
};


.eventDetails>.counterStyle {
    background-color: blueviolet;
}

/* .buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #54557b;
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.button:hover {
    background-color: #6f5d9c;
    color: white;
} */

