.eventDetails {
    display: flex;
    width: 70%;
    margin: 80px;
    border-radius: 10px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.infoSection {
    position:relative;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(234, 231, 217);
}

.eventHeader {
    position: relative;
    padding: 25px;
    height: 40%;
    text-align: center;
    margin: 50px;
}

.detailsHeadingOne {
    text-align: center;
    color: black;
    margin-top: 5px;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 50px;
    
}

.location {
    display: inline-block;
    margin-top: 25px;
    color: #555;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.type {
    display: inline-block;
    color: #959595;
    margin-top: 25px;
    font-size: 35px;
    text-align: center;

}

.eventImg {
    position: relative;
    float: right;
    margin-left: 22px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 350px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.text {
    margin-top: 100px;
    padding: 60px;
    height: 50%;
}

.eventSummary {
    margin-top: 15px;
    padding: 60px;
    height: 50%;
}

.text {
    font-size: 37px;
    color: #545454;
    margin-bottom: 5px;
}

.guestsInfo {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.counterStyle {
    font-size: 30px;
    margin-bottom: 10px;
}

.joinEventButton {
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.joinEventButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(108, 100, 27, 0.5);
}

.buttons {
    margin: 20px;
    padding: 10px;
    display: flex;
}

.editButtonStyle {
    padding: 12px 24px;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    margin: 10px;
    text-decoration: none;
};

.deleteButtonStyle {
    border: none;
    font-size: 30px;
    /* padding: 10px;
    font-size: 100px;
    cursor: 'pointer';
    margin: 10px;
    text-decoration: none; */
};




