.addEvent {
    position: relative;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    /* background-color: transparent; */
    background: #dad0c2;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21; */
}

.container {
    padding: 40px;
}

h1 {
    margin-bottom: 25px;
    font-size: 30px;
    color: rgb(138, 121, 95);
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label,
input,
select {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: white;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input[type="text"],
input[type="submit"],
select, option {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

textarea {
    width: 98%;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.btnSubmit {
    margin: auto;
    height: 60px;
    border-radius: 20px;
    color: rgb(187, 145, 145);
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    width: 50%;
}

.btnSubmit:hover {
    color: white;
    background-color: #7d7352;
}