.editEvent {
    position: relative;
    width: 700px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #dad0c2;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    padding: 40px;
}

.editHeadingOne {
    margin-bottom: 25px;
    font-size: 30px;
    color: rgb(138, 121, 95);
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.label {
    margin-bottom: 8px;
    margin: 10px;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inputText,
.select, .option {
    display: block;
    width: 100%;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.textarea {
    width: 100%;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    margin-bottom: 30px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.btnSubmit {
    margin: auto;
    height: 60px;
    border-radius: 20px;
    color: rgb(187, 145, 145);
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    width: 50%;
    border: none;
}

.btnSubmit:hover {
    color: white;
    background-color: #7d7352;
}

.dateTimeRow {
    display: flex;
    gap: 20px; 
    margin-bottom: 10px; 
}

.dateInput,
.timeInput {
    width: 50%; 
    box-sizing: border-box; 
    text-align: center; 
}