.events {
    margin: 10px auto; 
    padding: 20px 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); 
    gap: 70px; 
    column-gap: 100px; 
    row-gap: 80px;
    max-width: 2500px;
    justify-items: center; 
    margin-bottom: 80px;
}

.eventsGridWrapper {
    max-width: 1650px; 
    width: 100%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 80px; 
    justify-items: center; 
}


.eventsHeadingOne {
    font-size: 75px; 
    font-family: 'Playfair Display', serif; 
    font-weight: 700;  
    color: #4A3F33; 
    margin: 80px auto 40px;
    letter-spacing: 2px; 
    text-align: center; 
    width: 100%;
}

.noEvents {
    font-size: 70px;
    color: #7f6e5c; 
    margin: 200px auto; 
    text-align: center;
    grid-column: 1 / -1; 
    font-family: 'Playfair Display', serif; 
}
