.events {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
}

.eventsHeadingOne {
    font-size: 70px;
    justify-content: center;
    display: flex;
    color: rgb(177, 170, 160);
    margin: 50px;
}

.noEvents {
    font-size: 70px;
    color: rgb(197, 227, 150);
    margin: 200px;
    display: flex;
    justify-content: center;
}
