.valueSection {
    width: 90%;
    max-width: 1400px;
    margin: 5em auto; 
    padding: 60px 20px;
    
    background-color: #F8F8F8;
    border-radius: 10px;
    
    display: flex;
    justify-content: space-around; 
    gap: 40px;
}

.valueCard {
    flex-basis: 30%;
    text-align: center;
    padding: 20px 10px;
}

.valueIcon {
    font-size: 3rem;
    color: #D4AF37;
    margin-bottom: 0.5em;
    padding: 15px;
    background-color: rgba(74, 63, 51, 0.05);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valueHeading {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    color: #4A3F33;
    margin-bottom: 0.5em;
}

.valueText {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #7B7B7B;
    line-height: 1.5;
}