.homePage {
    width: auto;
    padding-right: 15px;
    padding-top: 7em;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.homePage.welcome {
    display: inline-block;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    top: 40%;
    text-align: center;
    width: 30%
}

.homePage>img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    margin-left: auto;
    padding-left: auto;
}

.welcome h1 {
    color: white;
    font-size: 100%;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
}

.welcome  p {
    color: white;
    font-size: 200%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
}

.homePage>.latestEvents{
    width: 50% fit-content;
    margin: auto;
    text-align: center;
}

.latestEvents{
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 55px;
    height: auto;
    width: auto;
}

.game {
    box-shadow: 0px 0px 30px 0px;
    margin-top: 20px;
    padding: 50px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    float: left;
    height: auto;
    color: rgb(204, 144, 131);
}

.image-wrap {
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap>img {
    max-width: 100%;
}

.game>h3 {
    font-family: "Agency FB";
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
}

.game-content>h4 {
    color: #c2d4f8;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: rtl;
}

.rating span {
    font-size: 40px;
    padding: 4px;
}

.rating span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.details-btn {
    background-color: #fd5454;
    font-size: 1.4rem;
    padding-top: 20px;
    margin-top: 10px;
    color: white;
    padding: 0.9em 1.4em;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.btn.details-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}

#home-page>h1 {
    color: rgb(252, 168, 151);
    text-align: center;
    font-weight: 700;
    font-size: 84px;
    font-family: "Agency FB";
}

.no-articles {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: "Agency FB";
}

/* .homePageDiv {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.homePageDiv h1 {
    color: darkslategray;
    letter-spacing: 5px;
    font-size: 50px;
    text-align: center;
}

.homePageDiv p {
    color: gray;
    font-size: 20px;
    text-align: center;
}

.errorContainer {
    margin-top: 2%;
    position: fixed;
    right: 100px;
    min-width: 100px;
    display: block;
    z-index: 11111;
    top: 55px;
    text-align: center;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    height: auto;
    width: 20%;
    box-shadow: 0 5px 10px black;
}

.errorContainer>p {
    background: black;
    color: white;
    margin: 0;
    font-size: 20px;
    padding: 30px;
    height: auto;
    border-radius: 20px;
}



@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
} */