.homePage {
    width: auto;
    padding-right: 15px;
    padding-top: 7em;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.welcome {
    display: inline-block;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    top: 40%;
    text-align: center;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headingOne {
    color: white;
    font-size: 100%;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headingTwo {
    color: white;
    font-size: 100%;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
    color: white;
    font-size: 200%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.latestEvents{
    overflow: hidden;
    padding: 55px;
    height: auto;
    width: auto;
}

.noEvents {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: "Agency FB";
}

/* 
.image-wrap {
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap>img {
    max-width: 100%;
}



.details-btn {
    background-color: #fd5454;
    font-size: 1.4rem;
    padding-top: 20px;
    margin-top: 10px;
    color: white;
    padding: 0.9em 1.4em;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.btn.details-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
} */


/* 
.homePage>img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin-left: auto;
    padding-left: auto;
} */


