.errorHeadingOne {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
}


.link {
    text-decoration: none;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
}

.errorContainer {
    margin: 100px;
}