.errorHeadingOne {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: rgb(122, 107, 85);
}


.link {
    text-decoration: none;
    color: rgb(146, 133, 107);
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(172, 156, 132);
}

.errorContainer {
    margin: 100px;
}