.profile {
    background-color: #F9F7F5; 
    padding: 5em 20px;
    min-height: calc(100vh - 200px); 
    max-width: 1400px; 
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    text-align: center;
}

.unauthorizedHeading {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #4A3F33;
    margin-bottom: 20px;
}

.profileContainer p {
    font-size: 1.5rem;
    color: #555;
}


.profileHeader {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #6C5749; 
}

.profileHeading {
    font-family: 'Playfair Display', serif;
    font-size: 60px; 
    font-weight: 700; 
    color: #4A3F33; 
    margin: 0 auto 30px;
    letter-spacing: 2px;
}


.userInfo {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.8rem;
}

.userLabel {
    font-weight: 700;
    color: #4A3F33; 
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
}

.userValue {
    color: #555; 
    margin-right: 40px; 
    font-size: 1.8rem;
}

.myEventsSection {
    padding-top: 40px;
}

.eventsHeading {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem; 
    color: #6C5749;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}

.eventsGrid {
    max-width: 1650px; 
    width: 100%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 80px; 
    justify-items: center; 
}


.noEvents {
    font-size: 70px; 
    color: #7f6e5c; 
    margin: 100px auto; 
    text-align: center;
    grid-column: 1 / -1; 
    font-family: 'Playfair Display', serif; 
}

