.container {
    min-height: calc(100vh - 200px);
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 80px auto; 
    border-radius: 10px;
    font-family: "Poppins, Arial, sans-serif";
}

.EventNotFound {
    text-align: center;
    color: #41382a;
    font-weight: 700; 
    font-size: 60px;
    margin: 0; 
    padding-bottom: 20px;
}