.block {
    width: 90%;
    max-width: 1400px;
    padding: 60px 40px;
    margin: 3em auto 5em; 
    
   
    background-color: #4A3F33; 
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #FFFAF0; 
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.subtext {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 250, 240, 0.8); 
    margin-bottom: 2em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}


.primary {
    background-color: #FFFAF0; 
    color: #4A3F33; 
    border: 2px solid #FFFAF0;
}

.primary:hover {
    background-color: #E0E0E0;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.secondary {
    background-color: transparent;
    color: #FFFAF0; 
    border: 2px solid #FFFAF0;
}

.secondary:hover {
    background-color: #6C5749;
    color: #FFFAF0;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}