/* body {
    background-image: url(/images/background.jpg);
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
} */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #29303c;
    width: 100%;
    overflow: hidden;
}

.header {
    background-color: #29303c;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 30px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.header nav {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 20px;
    float: none;
    display:flex;
    align-items: center;
    text-align: center;
}

.header nav a {
    margin: 0 0.5em;
    color: white;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: rgb(138, 191, 198);
    font-weight: bolder;
}

/* .homeBtn {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* .homeBtn:hover {
    color: rgb(138, 191, 198);
} */


/* .auth {
    width: 100px;
    margin: 8em auto;
}


footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


#user,
#guest {
    margin: 0;
    padding: 0;
} */