body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg");
    background-repeat:inherit;
    background-size: cover;
}


.header {
    background-color: #313741;
    width: 100%; 
    height: 90px;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.navigation {
    position: static; 
    float: none;   
    width: 95%; 
    max-width: 2500px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navLeft {
    font-weight: bold;
    font-size: 1.2em;
}

.navCenter {
    display: flex;
    justify-content: center;
}

.navRight {
    display: flex;
    align-items: center;
}

.headerNavTags {
    margin: 0 1em; 
    color: white;
    text-decoration: none;
    transition: color 0.2s, font-weight 0.2s; 
}

.headerNavTags:hover {
    cursor: pointer;
    color: rgb(138, 191, 198);
    font-weight: 700;
}

.welcomeUser {
    color: rgb(237, 237, 203);
}


