body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg");
    background-repeat:inherit;
    background-size: cover;
}

.header {
    background-color: #313741;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.navigation  {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 20px;
    float: none;
    display:flex;
    align-items: center;
    text-align: center;
}

.welcomeUser {
    color: rgb(237, 237, 203);
}

.headerNavTags {
    margin: 0 0.5em;
    color: white;
    text-decoration: none;
}

.headerNavTags:hover {
    cursor: pointer;
    color: rgb(138, 191, 198);
    font-weight: bolder;
}

footer {
    background-color: #29303c;
    width: 100%;
    overflow: hidden;
}
