body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F9F7F5;
    background-repeat:inherit;
    background-size: cover;
}


.header {
    background-color: #3b3126; 
    width: 100%; 
    height: 90px;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.navigation {
    position: static; 
    float: none;   
    width: 95%; 
    max-width: 2500px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}


.navLeft {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
}

.navCenter {
    display: flex;
    justify-content: center;
}

.navRight {
    display: flex;
    align-items: center;
}

.headerNavTags {
    margin: 0 1em; 
    color: white;
    text-decoration: none;
    transition: color 0.2s, font-weight 0.2s; 
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1.1em;
}

.headerNavTags:hover {
    cursor: pointer;
    color: rgb(198, 183, 138);
    font-weight: 700;
}

.welcomeUser {
    color: #ebe0d1;
}


