.contactPage {
    background-color: #F9F7F5;
    padding: 5em 0;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    text-align: center;
}

.contactContainer {
    width: 90%;
    max-width: 1400px; 
}

.headingOne {
    font-family: 'Playfair Display', serif;
    font-size: 3.9rem;
    color: #4A3F33; 
    margin-bottom: 0.3em;
}

.introText {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    color: #7B7B7B;
    max-width: 800px;
    margin: 0.5em auto 3em;
    line-height: 1.6;
}

.contactDetails {
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 2em auto;
}

.detailCard {
    flex-basis: 30%;
    padding: 30px 20px;
    background-color: #FFFFFF; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: left; 
}

.headingTwo {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    color: #6C5749;
    margin-bottom: 1em;
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 10px;
}

.contactItem {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 0.8em;
    line-height: 1.4;
}

.contactLink {
    color: #4A3F33;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s ease;
}

.contactLink:hover {
    color: #D4AF37;
}