.aboutPage {
    background-color: #F9F7F5; 
    padding: 5em 0;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
}

.aboutContainer {
    width: 90%;
    max-width: 1400px; 
    display: flex;
    gap: 60px;
    align-items: center;
}

.aboutContent {
    flex: 1;
    padding: 20px 0;
}

.headingOne {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #4A3F33; 
    margin-bottom: 0.5em;
    line-height: 1.1;
}

.headingTwo {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #6C5749;
    margin-top: 2em;
    margin-bottom: 0.8em;
}

.missionText, .closingText {
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.5em;
}


.philosophyList {
    list-style: none;
    padding: 0;
    margin-bottom: 2em;
}

.philosophyList li {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    color: #4A3F33;
    line-height: 2.2;
    border-left: 3px solid #D4AF37; 
    padding-left: 15px;
    margin-bottom: 10px;
}
.philosophyList li strong {
    font-weight: 700;
}
