.login {
    position: relative;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #dad0c2;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    padding: 40px;
}

.loginHeadingOne {
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(138, 121, 95);
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.label {
    margin-bottom: 15px;
    margin: 10px;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inputEmail,
.inputPassword {
    display: block;
    width: 100%;
    background: #ecf0f3;
    padding: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.btnSubmit {
    margin: 30px;
    height: 60px;
    border-radius: 20px;
    color: rgb(187, 145, 145);
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    width: 50%;
    border: none;
}

.btnSubmit:hover {
    color: white;
    background-color: #7d7352;
}

.clickHereP {
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
    margin-top: 20px;
}

.clickHereA {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

